In [2]:
api_key = 'a5d04411cecb64b2e73e2bc896da553e'

In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from pprint import pprint
import csv, sqlite3

# Import API key
#from api_keys import api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [6]:
capitals = pd.read_csv('db/capitalscsv.csv')
capitals.head()

       Capital        State
0   Montgomery      Alabama
1       Juneau       Alaska
2      Phoenix      Arizona
3  Little Rock     Arkansas
4   Sacramento   California

In [7]:
capitals['Capital']

0         Montgomery
1             Juneau
2            Phoenix
3        Little Rock
4         Sacramento
5             Denver
6           Hartford
7              Dover
8        Tallahassee
9            Atlanta
10          Honolulu
11             Boise
12       Springfield
13      Indianapolis
14        Des Moines
15            Topeka
16         Frankfort
17       Baton Rouge
18           Augusta
19         Annapolis
20            Boston
21           Lansing
22        Saint Paul
23           Jackson
24    Jefferson City
25            Helena
26           Lincoln
27       Carson City
28           Concord
29           Trenton
30          Santa Fe
31            Albany
32           Raleigh
33          Bismarck
34          Columbus
35     Oklahoma City
36             Salem
37        Harrisburg
38        Providence
39          Columbia
40            Pierre
41         Nashville
42            Austin
43    Salt Lake City
44        Montpelier
45          Richmond
46           Olympia
47        Charleston
48           Madison
49          Cheyenne
Name: Capital, dtype: object

In [8]:
#url
url = "http://api.openweathermap.org/data/2.5/weather?"

query_url = f"{url}appid={api_key}&units=imperial&q="

In [9]:
#run a test to see data and [u]
test3 = requests.get(query_url + 'New York').json()
test3
#gotta dig into dic
#response['name']
#response['clouds']['all']
#response['sys']['country']
#response['dt']
#response['main']['temp']
#response['coord']['lon']
#response['coord']['lat']
#response['main']['temp_max']
#response['wind']['speed']

{'coord': {'lon': -73.99, 'lat': 40.73},
 'weather': [{'id': 800,
   'main': 'Clear',
   'description': 'clear sky',
   'icon': '01n'}],
 'base': 'stations',
 'main': {'temp': 75.38,
  'pressure': 1013,
  'humidity': 41,
  'temp_min': 68,
  'temp_max': 82.4},
 'visibility': 16093,
 'wind': {'speed': 6.93, 'deg': 280},
 'clouds': {'all': 1},
 'dt': 1562034964,
 'sys': {'type': 1,
  'id': 4686,
  'message': 0.0174,
  'country': 'US',
  'sunrise': 1561973294,
  'sunset': 1562027461},
 'timezone': -14400,
 'id': 5128581,
 'name': 'New York',
 'cod': 200}

In [10]:
capital_df = pd.DataFrame({'City' : capitals['Capital']})
capital_df['Cloudiness'] = ''
capital_df['Country'] = ''
capital_df['Date'] = ''
capital_df['Humidity'] = ''
capital_df['Lat'] = ''
capital_df['Lng'] = ''
capital_df['Max Speed'] = ''
capital_df['Wind Speed'] = ''
capital_df['Temp (F)'] = ''
row_count = 1
capital_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Speed,Wind Speed,Temp (F)
0,Montgomery,,,,,,,,,
1,Juneau,,,,,,,,,
2,Phoenix,,,,,,,,,
3,Little Rock,,,,,,,,,
4,Sacramento,,,,,,,,,

In [15]:
print('Executing Data Retrieval')
for index, row in capital_df.iterrows():
    city = row['City']
    response = requests.get(query_url + city).json()
    
    if response["cod"] == "404":
        print('City is no bueno... skipping city...')
        capital_df.loc[index, 'Country'] = 'Drop'
    else: 

        print(f' Processing Record {row_count} for {city}')

        capital_df.loc[index, 'Cloudiness'] = float(response['clouds']['all'])
        capital_df.loc[index, 'Country'] = (response['sys']['country'])
        capital_df.loc[index, 'Date'] = response['dt']
        capital_df.loc[index, 'Humidity'] = float(response['main']['humidity'])
        capital_df.loc[index, 'Lat'] = float(response['coord']['lat'])
        capital_df.loc[index, 'Lng'] = float(response['coord']['lon'])
        capital_df.loc[index, 'Max Speed'] = float(response['main']['temp_max'])
        capital_df.loc[index, 'Wind Speed'] = float(response['wind']['speed'])
        capital_df.loc[index, 'Temp (F)'] = float(response["main"]["temp"])
        row_count = row_count + 1
#        weather_df[weather_df.name != city]
#        row_count = row_count + 1

Executing Data Retrieval
 Processing Record 51 for Montgomery
 Processing Record 52 for Juneau
 Processing Record 53 for Phoenix
 Processing Record 54 for Little Rock
 Processing Record 55 for Sacramento
 Processing Record 56 for Denver
 Processing Record 57 for Hartford
 Processing Record 58 for Dover
 Processing Record 59 for Tallahassee
 Processing Record 60 for Atlanta
 Processing Record 61 for Honolulu
 Processing Record 62 for Boise
 Processing Record 63 for Springfield
 Processing Record 64 for Indianapolis
 Processing Record 65 for Des Moines
 Processing Record 66 for Topeka
 Processing Record 67 for Frankfort
 Processing Record 68 for Baton Rouge
 Processing Record 69 for Augusta
 Processing Record 70 for Annapolis
 Processing Record 71 for Boston
 Processing Record 72 for Lansing
 Processing Record 73 for Saint Paul
 Processing Record 74 for Jackson
 Processing Record 75 for Jefferson City
 Processing Record 76 for Helena
 Processing Record 77 for Lincoln
 Processing Record 78 for Carson City
 Processing Record 79 for Concord
 Processing Record 80 for Trenton
 Processing Record 81 for Santa Fe
 Processing Record 82 for Albany
 Processing Record 83 for Raleigh
 Processing Record 84 for Bismarck
 Processing Record 85 for Columbus
 Processing Record 86 for Oklahoma City
 Processing Record 87 for Salem
 Processing Record 88 for Harrisburg
 Processing Record 89 for Providence
 Processing Record 90 for Columbia
 Processing Record 91 for Pierre
 Processing Record 92 for Nashville
 Processing Record 93 for Austin
 Processing Record 94 for Salt Lake City
 Processing Record 95 for Montpelier
 Processing Record 96 for Richmond
 Processing Record 97 for Olympia
 Processing Record 98 for Charleston
 Processing Record 99 for Madison
 Processing Record 100 for Cheyenne

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [16]:
#capital_df =  capital_df[capital_df.Country != 'Drop']

In [17]:
capital_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 10 columns):
City          50 non-null object
Cloudiness    50 non-null object
Country       50 non-null object
Date          50 non-null object
Humidity      50 non-null object
Lat           50 non-null object
Lng           50 non-null object
Max Speed     50 non-null object
Wind Speed    50 non-null object
Temp (F)      50 non-null object
dtypes: object(10)
memory usage: 4.0+ KB

In [18]:
capital_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Speed,Wind Speed,Temp (F)
0,Montgomery,1,US,1562035945,94,32.37,-86.3,82.4,4.29,79.56
1,Juneau,20,US,1562035891,60,58.3,-134.42,71.6,10.29,70.57
2,Phoenix,1,US,1562035649,9,33.45,-112.08,105.8,14.99,102.45
3,Little Rock,1,US,1562035945,74,34.75,-92.29,82.4,3.36,78.49
4,Sacramento,1,US,1562035746,34,38.58,-121.49,87.8,6.93,78.93
5,Denver,75,US,1562035724,72,39.74,-104.98,71.01,16.11,67.44
6,Hartford,1,US,1562035657,56,41.76,-72.69,73.4,5.5,67.33
7,Dover,1,US,1562035943,88,39.16,-75.52,73.4,3.27,69.03
8,Tallahassee,20,US,1562035861,74,30.44,-84.28,86,8.05,82.9
9,Atlanta,1,US,1562035810,74,33.75,-84.39,82.4,8.7,78.44
10,Honolulu,20,US,1562035801,52,21.3,-157.86,88,13.87,84.24
11,Boise,1,US,1562035839,19,43.62,-116.2,89.6,4.7,83.19
12,Springfield,1,US,1562035727,100,37.22,-93.29,77,9.8,73.35
13,Indianapolis,1,US,1562035874,88,39.77,-86.16,84.2,6.93,80.56
14,Des Moines,1,US,1562035948,74,41.59,-93.6,80.6,9.62,79.07
15,Topeka,1,US,1562035886,65,39.05,-95.68,82.99,5.82,80.06
16,Frankfort,1,US,1562035948,94,38.2,-84.87,79,5.41,75.54
17,Baton Rouge,1,US,1562035948,78,30.45,-91.15,82.4,6.93,79.14
18,Augusta,75,US,1562035756,73,44.31,-69.78,69.8,4.7,64.87
19,Annapolis,1,US,1562035901,60,38.98,-76.49,77,5.82,70.93
20,Boston,49,US,1562035717,64,42.36,-71.06,73,8.05,68.92
21,Lansing,1,US,1562035820,69,42.73,-84.56,80.6,6.93,78.46
22,Saint Paul,90,US,1562035765,94,44.95,-93.1,71.6,4.7,69.62
23,Jackson,1,US,1562035950,55,43.48,-110.76,71.6,3.36,65.68
24,Jefferson City,1,US,1562035944,69,38.58,-92.17,81,6.93,79.54
25,Helena,1,US,1562035950,26,46.59,-112.04,80.6,4.7,70.66
26,Lincoln,0,GB,1562035729,87,53.23,-0.54,53.01,8.05,50.38
27,Carson City,1,US,1562035951,33,39.16,-119.77,80.6,12.75,66.2
28,Concord,1,US,1562035757,77,43.21,-71.54,71.01,2.55,65.68
29,Trenton,1,US,1562035895,88,40.22,-74.74,75.99,6.35,71.28
30,Santa Fe,0,AR,1562035951,74,-31.62,-60.7,50,8.01,47.25
31,Albany,75,US,1562035806,53,42.65,-73.75,73.4,9.17,65.91
32,Raleigh,1,US,1562035902,94,35.78,-78.64,75.99,3.06,72.86
33,Bismarck,1,US,1562035780,82,46.81,-100.78,78.8,5.82,71.17
34,Columbus,1,US,1562035698,74,39.96,-83,80.6,5.82,77.45
35,Oklahoma City,1,US,1562035704,48,35.47,-97.52,82.99,10.29,80.29
36,Salem,90,US,1562035952,59,44.94,-123.03,69.8,9.17,64.24
37,Harrisburg,20,US,1562035680,77,40.27,-76.89,71.01,3.33,67.17
38,Providence,1,US,1562035863,88,41.82,-71.41,72,5.1,67.5
39,Columbia,1,US,1562035838,88,34,-81.03,84.2,4.05,80.08
40,Pierre,1,US,1562035953,83,44.37,-100.35,73,5.82,70.72
41,Nashville,2,US,1562035954,83,36.16,-86.77,82,3.36,76.26
42,Austin,1,US,1562035954,74,30.27,-97.74,84.2,12.75,81.45
43,Salt Lake City,1,US,1562035954,32,40.77,-111.89,91.4,3.36,74.89
44,Montpelier,90,US,1562035954,82,44.26,-72.58,68,2.21,63.57
45,Richmond,1,CA,1562035955,59,49.16,-123.14,75,12.75,70.45
46,Olympia,1,US,1562035955,72,47.05,-122.89,75.2,8.05,68.23
47,Charleston,1,US,1562035955,79,32.79,-79.94,84.99,5.82,82.33
48,Madison,1,US,1562035946,94,43.07,-89.38,80.6,6.55,76.46
49,Cheyenne,75,US,1562035922,88,41.14,-104.82,66.99,13.87,61.5

In [19]:
capital_df.to_csv("db/Clean_Capital_Weather.csv")