### Heroes Of Pymoli Data Analysis
  
Observations

- Majority of players are male
- Majority of players are 20-24 years old.
- Female players purchase less but have higher average purchase price.

-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [41]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [34]:
player_demographics = purchase_data.loc[:, ["Gender", "SN", "Age"]]

unique_players = purchase_data["SN"].unique()
unique_players

array(['Lisim78', 'Lisovynya38', 'Ithergue48', 'Chamassasya86',
       'Iskosia90', 'Yalae81', 'Itheria73', 'Iskjaskst81', 'Undjask33',
       'Chanosian48', 'Inguron55', 'Haisrisuir60', 'Saelaephos52',
       'Assjaskan73', 'Saesrideu94', 'Lisassa64', 'Lisirra25',
       'Zontibe81', 'Reunasu60', 'Chamalo71', 'Iathenudil29',
       'Phiarithdeu40', 'Siarithria38', 'Eyrian71', 'Siala43',
       'Lisirra87', 'Lirtossa84', 'Eusri44', 'Aela59', 'Tyida79',
       'Idai61', 'Farusrian86', 'Aeralria27', 'Haillyrgue51', 'Sondim73',
       'Jeyciman68', 'Idaisuir85', 'Seuthep89', 'Reulae52',
       'Sondilsaya62', 'Aerithriaphos45', 'Assosia88', 'Aidaillodeu39',
       'Aelly27', 'Tyeosri53', 'Haerith37', 'Yasrisu92', 'Chanuchi25',
       'Asur96', 'Iaralrgue74', 'Chanosia34', 'Aelin32', 'Ilosianya35',
       'Zhisrisu83', 'Phaelap26', 'Raesty92', 'Palyon91', 'Tyisur83',
       'Yaliru88', 'Yadanu52', 'Jiskimya77', 'Yadaphos40', 'Alo38',
       'Phaena87', 'Chamirraya83', 'Chanastsda67', 'Indonmol95',
       'Jiskossa61', 'Pheodai94', 'Hari50', 'Marilsa69', 'Assistasda42',
       'Lisosia93', 'Philodil43', 'Mindadaran26', 'Lirtosia63',
       'Assjaskan56', 'Irithlis29', 'Heudai45', 'Haerithp41', 'Aina42',
       'Jiskjask60', 'Umolrian85', 'Qarirwen82', 'Laedallo55',
       'Eoralrap26', 'Undosian34', 'Chadolyla44', 'Chadistaya75',
       'Yathedeu43', 'Aina43', 'Ilassast39', 'Lisassala98', 'Aiduecal76',
       'Chadossa89', 'Pheodaisun84', 'Heollyriap59', 'Maropast28',
       'Frichim77', 'Thryallym62', 'Eulanurin88', 'Lassjaskan73',
       'Tyaerith73', 'Sondadarya58', 'Hirirap39', 'Ririp86', 'Sundim98',
       'Iskichinya81', 'Phyali88', 'Undirrala66', 'Nitherian58',
       'Lassilsala30', 'Frichaststa61', 'Frichosia58', 'Ilosia37',
       'Lisista27', 'Seudaillorap38', 'Aesty53', 'Yathecal82',
       'Lisossanya98', 'Iral74', 'Lisast87', 'Maridisya31', 'Jiskassa76',
       'Ethriel85', 'Iskirra45', 'Iri67', 'Rarallo90', 'Lisasi93',
       'Adastirin33', 'Eyista89', 'Ili43', 'Chamirra53', 'Hailaphos89',
       'Iskadarya95', 'Qilatista90', 'Inasti31', 'Marilsanya48',
       'Marjask87', 'Chanjaskan89', 'Hyaduesu61', 'Aillyrin83',
       'Marast30', 'Sundadar27', 'Tyaelorap29', 'Lirtimst73',
       'Styaduen40', 'Sidap51', 'Chanastst38', 'Lirtassa52', 'Sondim68',
       'Aeral97', 'Heosurnuru52', 'Lisopela58', 'Caesrinusuir82',
       'Tyirinu79', 'Fironon91', 'Lassjask63', 'Indcil77', 'Chamimla73',
       'Syathe73', 'Baelollodeu94', 'Mindista32', 'Saena74',
       'Marirrasta50', 'Lamil79', 'Aenarap34', 'Aisur51', 'Thrientossa55',
       'Chadista79', 'Tyeurith29', 'Malunil62', 'Hiasri33', 'Lisadar44',
       'Frichjask31', 'Lisjaskya84', 'Ristydru66', 'Frichast28',
       'Minduri31', 'Maradaran90', 'Mindetosya30', 'Ialallo29',
       'Pheusrical25', 'Chanosia60', 'Phistym51', 'Aelollo59',
       'Chamimla85', 'Haisurra41', 'Sondastsda82', 'Qilanrion65',
       'Eulasuir89', 'Eosrirgue62', 'Shaidanu32', 'Lirtastan49',
       'Iaralsuir44', 'Tyeudariasuir90', 'Cosadar58', 'Aelastirin39',
       'Aidai53', 'Jiskjask85', 'Ealrion88', 'Chamjask73', 'Tyaenasti87',
       'Alim85', 'Haeladil46', 'Jiskirran77', 'Undosia27', 'Peorith44',
       'Yarithsurgue62', 'Taeduenu92', 'Rairin89', 'Aerithriaphos46',
       'Idairin51', 'Lisista54', 'Eodailis27', 'Lirtastsda29',
       'Undilsan50', 'Eodaisu60', 'Quaranmol58', 'Lirtossa60',
       'Lirtilsa71', 'Isursuir31', 'Sundirrala66', 'Saerallora71',
       'Iasur80', 'Tyaelo67', 'Quanunwen42', 'Yasur35', 'Assehoan67',
       'Haellysu29', 'Saida58', 'Chamadar79', 'Aeral43', 'Lirtirra37',
       'Tyidaim51', 'Lassassast73', 'Assassasta79', 'Heollyra92',
       'Anallorgue57', 'Aerithllora36', 'Smaistysu35', 'Ennalmol65',
       'Yarithrgue83', 'Yana46', 'Sondimla25', 'Aidai61', 'Wailin72',
       'Firan91', 'Alaesu91', 'Aellynun67', 'Rilaera56', 'Eulaestira36',
       'Marim28', 'Idastidru52', 'Ilirrasda54', 'Alaephos75',
       'Syalollorap93', 'Minduli80', 'Chanastya70', 'Frichadaran88',
       'Siallylis44', 'Aeri84', 'Iasursti71', 'Mindilsa34', 'Chamastya76',
       'Undirra73', 'Aestysu37', 'Chadadarla74', 'Strithenu87',
       'Iasrira89', 'Ialidru40', 'Tyalaesu89', 'Tyidainu31', 'Lirtilsa72',
       'Undjaskla97', 'Saedaiphos46', 'Aerithnucal56', 'Lisossa46',
       'Layjask75', 'Lisista63', 'Ceoral34', 'Hilaerin92',
       'Chadilsasta32', 'Undassa89', 'Iduenu77', 'Lisosia66',
       'Undimsya85', 'Phaedue89', 'Yadacal26', 'Lisossa25', 'Ilmol66',
       'Yastyriaphos75', 'Hiasurria41', 'Palatyon26', 'Qilalista41',
       'Hada39', 'Chamilsala65', 'Rairith81', 'Ilarin91', 'Ryanara76',
       'Undista85', 'Tyeoralru41', 'Pheosrinudeu70', 'Heuli25',
       'Pheutherin27', 'Chadirra90', 'Ali84', 'Frichjaskan98', 'Malil90',
       'Yarithllodeu72', 'Tyaedainu44', 'Ethron58', 'Eusurdeu49',
       'Saistyphos30', 'Saisrilis27', 'Hallysucal81', 'Ilimya66',
       'Raysistast71', 'Haedairiadru51', 'Tyananurgue44', 'Risty84',
       'Aerillorin70', 'Phistyn52', 'Yalo85', 'Chamirrasya33', 'Hiral75',
       'Isursti83', 'Bartassaya73', 'Aeda94', 'Quinarap53', 'Asur53',
       'Alarap40', 'Sida61', 'Hiarideu73', 'Lassassasda30', 'Ennoncil86',
       'Siralsudeu54', 'Eusri26', 'Ardcil81', 'Marilsasya33', 'Lirtim36',
       'Heunadil74', 'Frichadar89', 'Aesurstilis64', 'Idaidil28',
       'Lisotesta51', 'Lisico81', 'Lisiriya82', 'Siana77', 'Marokian45',
       'Sausosia74', 'Assesi91', 'Eusri70', 'Aisurria69', 'Iarilis73',
       'Raisty38', 'Ilista82', 'Leyirra83', 'Aiduesu86', 'Frichynde86',
       'Hisridru55', 'Chamossa77', 'Irillo49', 'Lirtastsya71',
       'Frichosiala98', 'Qilunan34', 'Quarrion42', 'Aisurdru79',
       'Hiaral50', 'Iarallo65', 'Sondassasya91', 'Chanossast57',
       'Chanjask65', 'Ethralista69', 'Sondistanya61', 'Eudanu32',
       'Euthe35', 'Lassimla92', 'Lisossala30', 'Eulae84', 'Chamadarnya73',
       'Eolan54', 'Assistasda90', 'Ennrian78', 'Undirrasta89',
       'Rianistast50', 'Undare39', 'Adairialis76', 'Aesur96',
       'Tyialisudeu65', 'Arirgue63', 'Sundadarla27', 'Eyircil84', 'Ina92',
       'Lirtistanya48', 'Marassa62', 'Mindossa76', 'Salilis27',
       'Sondossa69', 'Sundjask71', 'Errian63', 'Eurithphos97',
       'Raillydeu47', 'Malon70', 'Jiskimsda56', 'Marughi89', 'Ingatcil75',
       'Chanirrasta87', 'Alaesu77', 'Ermol76', 'Tyeuduen32', 'Firon67',
       'Iadueria43', 'Pheulidil31', 'Eodairu79', 'Frichocesta66',
       'Thourdirra92', 'Chanastnya43', 'Iskim96', 'Eulolis41',
       'Sastydeu50', 'Ilaesudil92', 'Yasur85', 'Aidain51',
       'Aerithnuphos61', 'Yalostiphos68', 'Meosridil82', 'Aillyriadru65',
       'Sally64', 'Lisim51', 'Isurria36', 'Silaera56', 'Leetirraya83',
       'Lirtirra81', 'Eryon48', 'Iana95', 'Sondassan80', 'Chanadar44',
       'Eosurdru76', 'Shidai42', 'Aesri53', 'Syally44', 'Jiskadarst60',
       'Sondadar26', 'Malarrian73', 'Maluncil97', 'Ilunyon70', 'Yadam35',
       'Dyally87', 'Pheosurllorin41', 'Frichaya88', 'Lassadarsda57',
       'Marynde90', 'Isri34', 'Assastnya25', 'Ardonmol96',
       'Lassirrasda85', 'Chadossa56', 'Poshilsa82', 'Yoishirrala98',
       'Sundista37', 'Ilassa51', 'Filurarn35', 'Phaestycal84', 'Irilis75',
       'Aeralstical35', 'Chanirrala39', 'Chanirra79', 'Assirra56',
       'Seolollo93', 'Iathem87', 'Iasurriacal29', 'Lisast98', 'Filrion59',
       'Halaecal66', 'Iskosian40', 'Ilastilis78', 'Seosrim97',
       'Farrian71', 'Rithe53', 'Frichossala54', 'Chamjaskya75',
       'Quanrion96', 'Tyaelaelis94', 'Quanenrian83', 'Chanirra64',
       'Yadaisuir65', 'Syathecal44', 'Arin32', 'Aelaria33', 'Assassa81',
       'Filrion83', 'Eoral49', 'Airi27', 'Eurisuru25', 'Liawista80',
       'Lisirra58', 'Chamadarsda63', 'Haestyphos66', 'Phaedasurap84',
       'Mindimnya67', 'Chadjask85', 'Eustyria89', 'Iskim66', 'Chamast86',
       'Lirtassan78', 'Ethrasyon38', 'Quilassa66', 'Lisassasda39',
       'Mindilsa60', 'Lalossa38', 'Chamistast30', 'Hariphos58',
       'Assilsan72', 'Inasuir29', 'Chanilsasda38', 'Mindesi74',
       'Ililsan66', 'Idacal95', 'Aeral68', 'Tyarithn67', 'Asty82',
       'Yalaeria91', 'Chadjask77', 'Ealiril69', 'Quaecjask96',
       'Firatan58', 'Yarolwen77', 'Tyaelistidru84', 'Yarithrin84',
       'Tyaelly53', 'Phiristi62', 'Ililsasya43', 'Aithelis62',
       'Undotesta33', 'Aelidru27', 'Chanossanya44', 'Maradarnya40',
       'Lisilsa62', 'Saena89', 'Chanilsast61', 'Sundassa93', 'Aidai73',
       'Indirrian56', 'Lisassasta50', 'Iduelis31', 'Chanosiaya39',
       'Assylla81', 'Aidaira26', 'Eudanu84', 'Chamiman85', 'Tyialisti80',
       'Marundi65', 'Eusur90', 'Mindirranya33', 'Phiallylis33', 'Isty55',
       'Frichilsa31', 'Chanista95', 'Aellyria80', 'Rastynusuir31',
       'Iljask75', 'Lisjaskan36', 'Mindjasksya61', 'Frichirranya75',
       'Ilast79', 'Eratiel90', 'Assim27', 'Irith83', 'Ilosian36',
       'Iskossasda43', 'Hala31', 'Jiskjask80', 'Aethedru70', 'Yathecal72',
       'Sisur91'], dtype=object)

In [3]:
len(unique)

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
unique_items_count = len(purchase_data["Item ID"].unique())
unique_items_count

183

In [5]:
average_price = purchase_data["Price"].mean()
average_price

3.050987179487176

In [6]:
number_of_purchases = len(purchase_data["Purchase ID"])
number_of_purchases

780

In [7]:
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

In [12]:
summary_df = pd.DataFrame({'Unique Items': unique_items_count,
    'Average Price': average_price,
    'Number of Purchases': number_of_purchases,
    'Total Revenue': total_revenue}, index=[0]) 
summary_df

   Unique Items  Average Price  Number of Purchases  Total Revenue
0           183       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [13]:
#get gender count for gender column
gender_demographics = purchase_data["Gender"].value_counts()
gender_demographics

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [14]:
#get gender ratios for gender column
gender_ratios = purchase_data["Gender"].value_counts(normalize=True)
gender_ratios

Male                     0.835897
Female                   0.144872
Other / Non-Disclosed    0.019231
Name: Gender, dtype: float64


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

Female Purchases

In [15]:
total = purchase_data.groupby(["Gender"]).sum()["Price"]
total

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [16]:
#get data for female purchases
female_purchases= purchase_data.loc[purchase_data["Gender"] == "Female", ["Purchase ID", "Price"]]

#calculate female purchase count
female_purchases_count = female_purchases["Price"].count()

#calculate female purchases average purchase price
female_purchases_avg_price = female_purchases["Price"].mean()

#calculate female total purchase value
female_purchases_total_value = female_purchases["Price"].sum()

#calculate female purchases averag value
female_purchases_avg_value = female_purchases_total_value / female_purchases_count
female_purchases_avg_value

3.203008849557522

In [17]:
# female_purchases_summary = [{'Purchase Count': female_purchases_count,
#     'Average Price': female_purchases_avg_price,
#     'Total Purchase Value': female_purchases_total_value,
#     'Average Purchase Total': female_purchases_avg_value}]    

female_purchases_summary_df = pd.DataFrame({'Purchase Count': female_purchases_count,
    'Average Price': female_purchases_avg_price,
    'Total Purchase Value': female_purchases_total_value,
    'Average Purchase Total': female_purchases_avg_value},  index=[0])
female_purchases_summary_df

   Purchase Count  Average Price  Total Purchase Value  Average Purchase Total
0             113       3.203009                361.94                3.203009

Male Purchases

In [18]:
#get data for male purchases
male_purchases= purchase_data.loc[purchase_data["Gender"] == "Male", ["Purchase ID", "Price"]]

#calculate male purchase count
male_purchases_count = male_purchases["Purchase ID"].count()

#calculate male purchases average purchase price
male_purchases_avg_price = male_purchases["Price"].mean()

#calculate male total purchase value
male_purchases_total_value = male_purchases["Price"].sum()

#calculate male purchases averag value
male_purchases_avg_value = male_purchases_total_value / male_purchases_count

In [26]:
male_purchases_summary = pd.DataFrame({'Purchase Count': male_purchases_count,
    'Average Price': male_purchases_avg_price,
    'Total Purchase Value': male_purchases_total_value,
    'Average Purchase Total': male_purchases_avg_value}, index=[0])
male_purchases_summary

   Purchase Count  Average Price  Total Purchase Value  Average Purchase Total
0             652       3.017853               1967.64                3.017853

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [32]:
#create bins
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 9999]

group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

player_demographics["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=group_names)
player_demographics

                    Gender               SN  Age Age Ranges
0                     Male          Lisim78   20      20-24
1                     Male      Lisovynya38   40        40+
2                     Male       Ithergue48   24      20-24
3                     Male    Chamassasya86   24      20-24
4                     Male        Iskosia90   23      20-24
5                     Male          Yalae81   22      20-24
6                     Male        Itheria73   36      35-39
7                     Male      Iskjaskst81   20      20-24
8                     Male        Undjask33   22      20-24
9    Other / Non-Disclosed      Chanosian48   35      35-39
10                    Male        Inguron55   23      20-24
11                    Male     Haisrisuir60   23      20-24
12                    Male     Saelaephos52   21      20-24
13                    Male      Assjaskan73   22      20-24
14                    Male      Saesrideu94   35      35-39
15                  Female        Lisassa64   21      20-24
16                    Male        Lisirra25   20      20-24
17                    Male        Zontibe81   21      20-24
18                  Female        Reunasu60   22      20-24
19                    Male        Chamalo71   30      30-34
20                    Male     Iathenudil29   20      20-24
21                    Male    Phiarithdeu40   20      20-24
22   Other / Non-Disclosed     Siarithria38   38      35-39
23                    Male         Eyrian71   40        40+
24                    Male          Siala43   30      30-34
25                    Male        Lisirra87   29      25-29
26                    Male       Lirtossa84   11      10-14
27                    Male          Eusri44    7        <10
28                    Male           Aela59   21      20-24
29                    Male          Tyida79   24      20-24
..                     ...              ...  ...        ...
750                   Male         Iljask75   22      20-24
751                   Male      Lisjaskan36   11      10-14
752                   Male    Mindjasksya61   17      15-19
753                   Male   Frichirranya75   36      35-39
754                 Female  Pheosurllorin41   23      20-24
755                   Male         Raesty92   12      10-14
756                   Male          Ilast79   20      20-24
757                   Male        Eratiel90   18      15-19
758                   Male           Iral74   21      20-24
759                   Male      Tyaelorap29   25      25-29
760                   Male       Aithelis62   21      20-24
761                   Male          Assim27   45        40+
762                   Male           Asur53   26      25-29
763                   Male     Lassilsala30   21      20-24
764                   Male     Saedaiphos46   18      15-19
765                   Male          Irith83   18      15-19
766                   Male     Aelastirin39   23      20-24
767                 Female          Ilmol66    8        <10
768                   Male     Assassasta79   38      35-39
769                   Male        Ilosian36   15      15-19
770                   Male       Lirtosia63   34      30-34
771                   Male     Iskossasda43   16      15-19
772                   Male           Asur53   26      25-29
773                   Male           Hala31   21      20-24
774                   Male       Jiskjask80   11      10-14
775                 Female       Aethedru70   21      20-24
776                   Male           Iral74   21      20-24
777                   Male       Yathecal72   20      20-24
778                   Male          Sisur91    7        <10
779                   Male        Ennrian78   24      20-24

[780 rows x 4 columns]

In [31]:
age_demographics_totals = player_demographics["Age Ranges"].value_counts()
age_demographics_totals

20-24    365
15-19    136
25-29    101
30-34     73
35-39     41
10-14     28
<10       23
40+       13
Name: Age Ranges, dtype: int64

In [36]:
age_demographics_percents = age_demographics_totals / 576 * 100
age_demographics_percents

20-24    63.368056
15-19    23.611111
25-29    17.534722
30-34    12.673611
35-39     7.118056
10-14     4.861111
<10       3.993056
40+       2.256944
Name: Age Ranges, dtype: float64

In [45]:
age_demographics_df = pd.DataFrame({"Total Count": age_demographics_totals, "Percentage of Players": age_demographics_percents})
age_demographics_df.sort_index(axis=0)

       Total Count  Percentage of Players
<10             23               3.993056
10-14           28               4.861111
15-19          136              23.611111
20-24          365              63.368056
25-29          101              17.534722
30-34           73              12.673611
35-39           41               7.118056
40+             13               2.256944

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [48]:
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=group_names)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Ranges
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [49]:
age_purchase_total = purchase_data.groupby(["Age Ranges"]).sum()["Price"].rename("Total Purchase Value")
age_purchase_total

Age Ranges
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Total Purchase Value, dtype: float64

In [50]:
age_average = purchase_data.groupby(["Age Ranges"]).mean()["Price"].rename("Average Purchase Price")
age_average

Age Ranges
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Average Purchase Price, dtype: float64

In [51]:
age_counts = purchase_data.groupby(["Age Ranges"]).count()["Price"].rename("Purchase Count")
age_counts

Age Ranges
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase Count, dtype: int64

In [56]:
avg_purchase_total = age_purchase_total / age_demographics_df["Total Count"]
avg_purchase_total

10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
<10      3.353478
dtype: float64

In [57]:
age_data = pd.DataFrame({"Purchase Count": age_counts, "Average Purchase Price": age_average, "Total Purchase Value": age_purchase_total, "Avg Total Purchase per Person": avg_purchase_total})
age_data

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
10-14,28,2.956429,82.78,2.956429
15-19,136,3.035956,412.89,3.035956
20-24,365,3.052219,1114.06,3.052219
25-29,101,2.900990,293.00,2.900990
30-34,73,2.931507,214.00,2.931507
35-39,41,3.601707,147.67,3.601707
40+,13,2.941538,38.24,2.941538
<10,23,3.353478,77.13,3.353478

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [72]:
user_count = purchase_data.groupby(["SN"]).count()["Price"].rename("Purchase Count")
user_count.tail()

SN
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Purchase Count, dtype: int64

In [61]:
user_average = purchase_data.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
user_average.head()

SN
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
Name: Average Purchase Price, dtype: float64

In [63]:
user_total = purchase_data.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")
user_total.tail()

SN
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Total Purchase Value, dtype: float64

In [76]:
user_data = pd.DataFrame({"Total Purchase Value": user_total, "Average Purchase Price": user_average, "Purchase Count": user_count})
user_data.head()

              Total Purchase Value  Average Purchase Price  Purchase Count
SN
Adairialis76                  2.28                    2.28               1
Adastirin33                   4.48                    4.48               1
Aeda94                        4.91                    4.91               1
Aela59                        4.32                    4.32               1
Aelaria33                     1.79                    1.79               1

In [83]:
user_sorted = user_data.sort_values("Total Purchase Value", ascending=False)
user_sorted.head()

             Total Purchase Value  Average Purchase Price  Purchase Count
SN
Lisosia93                   18.96                3.792000               5
Idastidru52                 15.45                3.862500               4
Chamjask73                  13.83                4.610000               3
Iral74                      13.62                3.405000               4
Iskadarya95                 13.10                4.366667               3

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [86]:
item_data = purchase_data.loc[:,["Item ID", "Item Name", "Price"]]
item_data.head()

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

In [88]:
total_item_purchase = item_data.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")
total_item_purchase.head()

Item ID  Item Name
0        Splinter               5.12
1        Crucifer               9.78
2        Verdict               14.88
3        Phantomlight          14.94
4        Bloodlord's Fetish     8.50
Name: Total Purchase Value, dtype: float64

In [89]:
average_item_purchase = item_data.groupby(["Item ID", "Item Name"]).mean()["Price"]
average_item_purchase.head()

Item ID  Item Name
0        Splinter              1.28
1        Crucifer              3.26
2        Verdict               2.48
3        Phantomlight          2.49
4        Bloodlord's Fetish    1.70
Name: Price, dtype: float64

In [90]:
item_count = item_data.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")
item_count.head()

Item ID  Item Name
0        Splinter              4
1        Crucifer              3
2        Verdict               6
3        Phantomlight          6
4        Bloodlord's Fetish    5
Name: Purchase Count, dtype: int64

In [92]:
item_data_df = pd.DataFrame({"Total Purchase Value": total_item_purchase, "Item Price": average_item_purchase, "Purchase Count": item_count})
item_data_df.head()

                            Total Purchase Value  Item Price  Purchase Count
Item ID Item Name
0       Splinter                            5.12        1.28               4
1       Crucifer                            9.78        3.26               3
2       Verdict                            14.88        2.48               6
3       Phantomlight                       14.94        2.49               6
4       Bloodlord's Fetish                  8.50        1.70               5

In [95]:
item_data_count_sorted = item_data_df.sort_values("Purchase Count", ascending=False)
item_data_count_sorted.head()

,,Total Purchase Value,Item Price,Purchase Count
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",50.76,4.23,12
145,Fiery Glass Crusader,41.22,4.58,9
108,"Extraction, Quickblade Of Trembling Hands",31.77,3.53,9
82,Nirvana,44.10,4.90,9
19,"Pursuit, Cudgel of Necromancy",8.16,1.02,8

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [99]:
item_total_purchase = item_data_count_sorted.sort_values("Total Purchase Value", ascending=False)
item_total_purchase.head()

,,Total Purchase Value,Item Price,Purchase Count
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",50.76,4.23,12
82,Nirvana,44.10,4.90,9
145,Fiery Glass Crusader,41.22,4.58,9
92,Final Critic,39.04,4.88,8
103,Singed Scalpel,34.80,4.35,8